@model IEnumerable<Web.DTO.Model.Custmer>

@{
    ViewBag.Title = "AllCustmers";
}

<h2>AllCustmers</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CustmerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustmerNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CustmerName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CustmerNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CustmerId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CustmerId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CustmerId })
        </td>
    </tr>
}

</table>
